# Alert Management Service Environment Variables

# Server Configuration
SPRING_PORT=8080

# Database Configuration
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DATABASE=
SPRING_DATASOURCE_PORT=
SPRING_DATASOURCE_HOST=
SPRING_DATASOURCE_SCHEMA=
SPRING_DATASOURCE_URL=

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE_EMAIL_NAME=
RABBITMQ_QUEUE_PUSH_NAME=
RABBITMQ_EXCHANGE_NAME=
RABBITMQ_ALERT_CREATED_ROUTING_KEY=
